@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;
  --background-quaternary-color: #D9D9D9;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --title-font-weight: 700;
  --text-font-weight: 400;
  --menu-font-weight: 500;
}

/* reset simples */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}

.section-title {
  text-align: center;
  margin-top: 88px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: var(--title-font-weight);
  color: var(--text-primary-color);
}

.section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  margin: 16px auto 32px;
  border: none;
}

.generic-button{
  display: inline-block;
  width: 280px;
  height: 64px;
  background-color: var(--secondary-color);
  color: var(--text-secondary-color);
  font-size: 20px;
  font-weight: var(--title-font-weight);
  border-radius: 8px;
  align-content: center;
}

.generic-button:hover{
  background-color: var(--primary-color);
}


@media screen and (min-width: 768px) {
  .section-title h2 {
    font-size: 32px;
  }
}
