header {
  display: flex;
  background-color: var(--background-tertiary-color);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 38px 48px;
  position: relative;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
  padding: 0 0 1rem 2rem;
  color: var(--text-secondary-color);
}

nav {
  display: none;
}

.header-menu-hamburguer {
  width: 32px;
  height: 24px;
}

.dropdownMenu-list{
  list-style: none;
}

.dropdownMenu-list li{
  margin: 16px 0;
}

.dropdownMenu-text {
  color: var(--text-secondary-color);
}
