.hero-img{
    height: 400px;
    width: 100%;
    background-image: url(../img/hero-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero h2{
    padding: 88px 24px 0;
    text-align: center;
    font-weight: var(--text-font-weight);
    font-size: 20px;
    margin: 0;
}

@media screen and (min-width: 768px){
    .hero-img{
    height: 620px;
    width: 100%;
    background-image: url(../img/hero-tablet.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero h2{
    padding: 88px 60px;
    text-align: center;
    font-size: 32px;
}
}

@media screen and (min-width: 1080px){
    .hero-img{
    height: 620px;
    width: 100%;
    background-image: url(../img/hero-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero h2{
    padding: 104px 120px;
    text-align: center;
}
}