.hero-img{
    height: 400px;
    width: 100%;
    background-image: url(../img/hero-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 768px){
    .hero-img{
    height: 620px;
    width: 100%;
    background-image: url(../img/hero-tablet.png);
    background-repeat: no-repeat;
    background-size: cover;
}
}

@media screen and (min-width: 1080px){
    .hero-img{
    height: 620px;
    width: 100%;
    background-image: url(../img/hero-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
}
}