.offers-cards {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.card {
  color: var(--text-secondary-color);
  padding: 24px 16px;
  width: 312px;
  height: 288px;
  border-radius: 24px;
  text-align: center;
  background-color: var(--background-tertiary-color);
}

.card header {
  padding: 0;
  display: block;
  background-color: transparent;
  position: static;
}

.card header p {
  font-size: 20px;
  font-weight: var(--text-font-weight);
}

.card header h3 {
  font-size: 40px;
  font-weight: var(--title-font-weight);
  margin-top: 8px;
}

.card header h3 span {
  display: inline-block;
  font-size: 32px;
  margin: 24px 0;
}

.card.japao {
  background: url(../img/bg-card-japao.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.card.san-andreas {
  background: url(../img/bg-card-san-andreas.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.card.paraiba {
  background: url(../img/bg-card-paraiba.jpg);
  background-size: cover;
  background-position: center;
}

.card.manaus {
  background: url(../img/bg-card-manaus.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 1024px) {
  .card {
    width: 588px;
    height: 308px;
  }
  .card header h3 {
    font-size: 48px;
  }
  .card header h3 span {
    font-size: 40px;
  }
}
