@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-style: normal;
    font-display: swap;
}

:root{
    --background-primary-color: #ffffff ;
    --background-secondary-color: #F5F5F5 ;
    --background-tertiary-color: #000000 ;

    --button-primary-color: #8F0101 ;
    --button-secondary-color: #B81515 ;

    --text-primary-color: #222222 ;
    --text-secondary-color: #FFFFFF ;

}

/* reset simples */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: var(--button-primary-color);
}