@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-style: normal;
    font-display: swap;
}

:root{
    --primary-color: #8F0101 ;
    --secondary-color: #B81515 ;

    --background-primary-color: #ffffff ;
    --background-secondary-color: #F5F5F5 ;
    --background-tertiary-color: #000000 ;

    --text-primary-color: #222222 ;
    --text-secondary-color: #FFFFFF ;

    --title-font-weight: 700;
    --text-font-weight: 400;
    --menu-font-weight: 500;

}

/* reset simples */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat";
}

h1{
    color: var(--text-primary-color);
    font-weight: var(--title-font-weight);
}